#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@

execute_before_dh_clean:
	rm -f debian/mce.service

execute_before_dh_installsystemd:
	cp systemd/mce.service debian/mce.service

override_dh_auto_test:
